<%- include("partials/header")-%>
<%- include("nav")-%>
</section>

<div class="page2Content">

  <h1 class="page2Heading">We Found you the Best Deals! &nbsp; <i style="font-size: 40px;" class="fas fa-plane-departure"></i></h1>
   
  <div class=" row priceBox ">
  <% quotes.forEach(function(quote){ %>

      <div class=" col-lg-6  pricingTable ">
        <div class="card ">
    <div class="card-header">
      <h3><%=to%> ✈ <%=from%></h3>
    </div>
    <div class="card-body">
      <% carriers.forEach(function(carrier){ %>
        <% if(quote.OutboundLeg.CarrierIds==carrier.CarrierId){ %>
      <h4><%=carrier.Name %></h4>
      <%}%>
      <%});%>
      <h2> <%=curr%> <%= quote.MinPrice%> <span style="font-size: 18px;">Per Person</span></h2>
    <% var type= quote.Direct?"Direct":"Indirect"; %>
      <p>Your Flight is <%=type%></p>
    <p>Departure Date is <%= quote.OutboundLeg.DepartureDate.slice(0, 10); %></p>
    <p>Departure time is <%= quote.QuoteDateTime.slice(11,16); %> </p>
    <div class="d-grid gap-2">
    <button type="button" class="btn knbtn"><a href="/page3" >Know More</a></button>
    </div></div></div>
    </div>
    <%});%>
    </div>
</div>
<hr class="dottedLine">


<%- include("traveldestinations")-%>
<%- include("partials/footer")-%>























